/* css variables */
:root {
    --width-A: 100px;
    --width-B: calc(var(--width-A) / 2);
    --width-C: calc(50% - var(--width-B));
    --color-1: #27f;
    --color-1a: #05d;
    --color-2: #eee;
    --color-3: #ddd;
    --color-4: #3b1;
    --color-4a: #280;
    --color-5: rgba(0,0,0,0.75);
    --modal-width: 40vw;
    --modal-calc: calc(var(--modal-width) / 2);
    --modal-position-x: calc(50% - var(--modal-calc));
}

/* global site styles */
#cards .card {
    height: calc(100% - 24px);
}

h1, h3, p, a {
    font-family: Helvetica, sans-serif;
}
/*ascundere o parte din continutul mesajului*/
#continut {
    max-height:20px;
    overflow: hidden;

}
/* buttons/links styles */

.btn {
    color: var(--color-2);
    display: block;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.btn-sm {
    background-color: var(--color-5);
    border-radius: 50%;
    display: block;
    padding: 5px 10px;
    position: absolute;
    top: 5px;
    margin-left: 90%;
}

.btn-std {
    border-radius: 5px;
    /*padding: 10px 20px;*/
    width: var(--width-A);    
    transition: 1s ease-in;
}

    .btn-std:hover {
        transition: 1s ease-out;
    }

.mt-link {
    background: radial-gradient(ellipse at bottom, #f1b866 0%, #e75757 100%);
    margin: 20px var(--width-C) 0;
}

    .mt-link:hover {
        background-color: var(--color-1a);
    }

.mb-link {
    background: radial-gradient(ellipse at bottom, #f1b866 0%, #e75757 100%);
}

    .mb-link:hover {
        background-color: var(--color-4a);
    }

/* site markup */


.main-header, .random-text-header {
    margin: 20px 0;
    text-align: center;
}

.random-text-header {
    margin: 20px 0 5px;
}

/* modal markup */

.modal-page {
    background-color: var(--color-5);
    display: none;
    position: absolute;
    visibility: visible;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.modal-wrapper{
    border-radius: 10px;
    position: absolute;
    left: var(--modal-position-x);
    width: var(--modal-width);
}

.modal-header {
    text-align: center;
    margin-bottom: 20px;
}



.modal-text {
    text-align: justify;
}

/* modal show and hide */

#modal-1:target {
    display: block;
}

/* modal animation */

.modal-wrapper {
    top: -20vh;
    animation: show 1s ease-out forwards;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scaleX(0.05)
    }

    50% {
        transform: translateY(55vh) scaleY(0.8);
    }

    75% {
        transform: translateY(40vh) scaleY(1.2);
    }

    90% {
        transform: translateY(50vh) scaleY(1) scaleX(1);
    }

    100% {
        transform: translateY(45vh);
        opacity: 1;
    }
}
