@model MentalHealthApp.BusinessLogic.Implementation.Account.ViewModels.RegisterDoctorModel
@{
    ViewData["Title"] = "View";
}

<head>
      <link href="~/css/map.css" rel="stylesheet" type="text/css" />
    <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoXRvHuYgJDyVIhkYxJN8zhPa_6tRbces&libraries=places"></script>
    <script  defer src="~/js/googleAPIScript.js" type="text/javascript"></script>  
    <link rel="stylesheet" href="~/css/dashboard.css"/>
</head>

<h1>Register Doctor</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="RegisterDoctor" asp-controller="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Nume</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Prenume</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="BirthDate" class="control-label">Data nastere</label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="PhoneNumberCountryPrefix" class="control-label">Perfix telefon</label>
                <input asp-for="PhoneNumberCountryPrefix" class="form-control" />
                <span asp-validation-for="PhoneNumberCountryPrefix" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Numar Contact</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Specialitate" class="control-label"></label>
                <input asp-for="Specialitate" class="form-control" />
                <span asp-validation-for="Specialitate" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Descriere" class="control-label"></label>
                <input asp-for="Descriere" class="form-control" />
                <span asp-validation-for="Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label  asp-for="durataProgramare">Durata Sedinta</label>
              <input class="form-control" asp-for="durataProgramare" rows="3" >
              <span asp-validation-for="durataProgramare"class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordHash" class="control-label">Parola</label>
                <input asp-for="PasswordHash" type="password" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tara" class="control-label">Tara</label>
                <input asp-for="Tara" class="form-control" />
                <span asp-validation-for="Tara" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Judet" class="control-label">Judet</label>
                <input asp-for="Judet" class="form-control" />
                <span asp-validation-for="Judet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oras" class="control-label">Oras</label>
                <input asp-for="Oras" class="form-control" />
                <span asp-validation-for="Oras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StradaNumar" class="control-label">Strada, Numar</label>
                <input asp-for="StradaNumar" class="form-control" />
                <span asp-validation-for="StradaNumar" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="BlocScaraApartament" class="control-label">Bloc, Scara, Apartament</label>
                <input asp-for="BlocScaraApartament" class="form-control" />
                <span asp-validation-for="BlocScaraApartament" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="Sector" class="control-label">Sector</label>
                <input asp-for="Sector" class="form-control" />
                <span asp-validation-for="Sector" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="CodPostal" class="control-label">Cod Postal</label>
                <input asp-for="CodPostal" class="form-control" />
                <span asp-validation-for="CodPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserImage" class="control-label">Imagine Profil </label>
                <input asp-for="UserImage" type="file" class="form-control" />
                <span asp-validation-for="UserImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input style="background:radial-gradient(ellipse at bottom, #f1b866 0%, #e75757 100%); color:white; border-color: #e75757" type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <a  asp-action="DoctorsPage" asp-controller="Admin" style="background:radial-gradient(ellipse at bottom, #f1b866 0%, #e75757 100%); color:white" class="btn btn-std mt-link">Cancel</a> 
       
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
